<html>
<head>
<style>
.img_p
{
background-image:url('download.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
background-position:10px 50px;
background-attachment:scrollfixed;
}
</style>
</head>
<body class="img_p">
hello!...
</body>
</html>